V_BANK_BASE_URL=https://vbank.open.bankingapi.ru
A_BANK_BASE_URL=https://abank.open.bankingapi.ru
S_BANK_BASE_URL=https://sbank.open.bankingapi.ru

SANDBOX_USERNAME=Team-101-1
SANDBOX_PASSWORD=pvaSb1FopfGSQgVVS5MlJ18hlp5PUNPo
